@import '_setting.scss';

$col-header-height: 46px;
$col-footer-height: 46px;
$col-height: calc(#{$board-content-height} - #{$gap * 2});

.column {
    flex: 0 0 auto;
    width: 300px;
    height: $col-height;
    margin-left: 10px;

    > * {
        background-color: $col-bg-color;
        color: #333;
        padding: 0 8px;
    }

    header.column-drag-handle {
        cursor: pointer;
        padding-left: 15px;
        line-height: $col-header-height;
        font-size: 16px;
        height: $col-header-height;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    footer {
        padding-left: $gap;
        line-height: $col-footer-height;
        font-size: 16px;
        height: $col-footer-height;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #888;
        cursor: pointer;
        .footer-actions {
            margin-left: $gap;

            &:hover {
                color: #333;
            }
        }
    }

    .card-list {
        margin: 0;
        max-height: calc(#{$col-height} - #{$col-header-height} - #{$col-footer-height});
        overflow-y: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical {
            width: 11px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darken($col-bg-color, 15);
            border-right: 5px solid $col-bg-color;
        }

        .card-ghost {
            transition: transform 0.18s ease;
            transform: rotateZ(5deg);
            font-weight: bold;
        }

        .card-ghost-drop {
            transition: transform 0.18s ease-in-out;
            transform: rotateZ(0deg);
            font-weight: bold;
        }

        .card-drop-preview {
            background-color: rgba(150, 150, 200, 0.1);
            border: 1px dashed #abc;
            margin: 5px;
        }
    }
}
