@import '_setting.scss';

$list-bg-color: #ebecf0;

$col-header-height: 46px;
$col-footer-height: 46px;

.column {
    flex: 0 0 auto;
    width: 300px;
    height: calc(100% - #{$gap});
    &:not(:first-child) {
        margin-left: 10px;
    }

    > * {
        background-color: $list-bg-color;
        color: #333;
        padding: 0 8px;
    }

    header {
        padding-left: 15px;
        line-height: $col-header-height;
        font-size: 16px;
        height: $col-header-height;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    footer {
        padding-left: $gap;
        line-height: $col-footer-height;
        font-size: 16px;
        height: $col-footer-height;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    ul.task-list {
        list-style-type: none;
        margin: 0;
        max-height: calc(100% - #{$col-header-height} - #{$col-footer-height});
        overflow-y: auto;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        &::-webkit-scrollbar:vertical {
            width: 11px;
        }
        &::-webkit-scrollbar-thumb {
            background-color: darken($list-bg-color, 15);
            border-right: 5px solid $list-bg-color;
        }
    }
}
