@import '_setting.scss';

.board-content {
    height: $board-content-height;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    &:after {
        content: '';
        flex: 0 0 10px;
    }

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $common-element-bg;
        // border-bottom: 5px solid $list-bg-color;
        border-radius: 5px;
    }

    .column-drop-preview {
        background-color: rgba(150, 150, 200, 0.1);
        border: 1px dashed #abc;
        margin: 5px 45px 5px 5px;
    }

    .add-new-column {
        width: 250px;
        max-width: 250px;
        background-color: rgba(236, 231, 231, 0.3);
        line-height: 32px;
        cursor: pointer;
        margin: 0 10px 0 10px;
        color: white;
        font-size: 15px;
        padding: 4px 4px 4px 20px;
        border-radius: 4px;

        &:hover {
            opacity: 0.8;
        }
    }

    .enter-new-column {
        width: 250px;
        max-width: 250px;
        background-color: $col-bg-color;
        padding: 4px 10px;
        line-height: 32px;
        margin: 0 10px 0 10px;
        border-radius: 4px;

        .input-enter-new-column {
            margin: 5px 0;
        }
        .cancel-add-colum {
            margin-left: 13px;
            // font-size: 16px;
            cursor: pointer;
            color: rgb(184, 36, 36);

            &:hover {
                color: darken(rgb(184, 36, 36), 5);
            }
        }
    }
}
