@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:wght@400;600');
@import '~bootstrap/scss/bootstrap';

$gap: 10px;
$navbar-app-height: 5vh;
$navbar-board-height: 6vh;
$board-content-height: 88vh;

$col-bg-color: #ebecf0;
$board-bg-color: #0079bf;
$common-element-bg: rgba(255, 255, 255, 0.24);
$app-main-text-color: #333;

//Screen
$screen-lg: 1201px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-phone: 480px;
$screen-ip6-down: '(max-width: 375px)';
