@import '_setting.scss';

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.4em;
}

.trello-thucidol {
    height: 100vh;
    line-height: 1.3em;
    overflow: hidden;
    background-color: $board-bg-color;
    color: $app-main-text-color;

    .icon {
        font-size: 14px;
        margin-right: 5px;
    }
}
